<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>insideSelect编辑</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">BPMN SIMU</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">上传BPMN<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/cleanActivitiData">数据清理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/insideSelect">选择补充</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/insideTask">内部任务</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/states">所有联邦成员状态图</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="jumbotron" style="width:1200px;margin-left:100px;">
    <div class="table-wrapper">
        <h1 class="text-center">
            查询 <b>未完成的选择指令</b>
        </h1>
        <button onclick="chaInsideSelect()" class="btn btn-border">查询</button>
        <table id="insideSelectTable" class="table price-table">
            <tbody>
            <tr class="table-header">
                <th>选择指令Id</th>
                <th>分支1内容</th>
                <th>分支2内容</th>
                <th>完成情况</th>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="jumbotron">
        <h2>修改未完成的选择指令</h2><br />

        <button type="button" class="btn btn-dark" id="addInsideSelcet" onclick="addinsideSelect()"
                style="right: 20px;text-align: center;margin-left: 1010px">
            增加一个选择指令
        </button>

        <form id="insideSelectForm" >
            <br>
            <div style="border: black;border-style: dotted;border-width: 2px;">
                <br />
                <h4>
                    <div class="insideSelect">&nbsp;&nbsp;&nbsp;&nbsp;第1个</div>
                </h4>
                <br />
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;选择指令Id:</span><input type="text" name="selectId">
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分支1Id:</span><input type="text" name="branch1Id"><span>&nbsp;&nbsp;</span>
                &nbsp;&nbsp;&nbsp;&nbsp;<span>                   分支2Id:</span><input type="text" name="branch2Id"><span>&nbsp;&nbsp;&nbsp;</span>
                <br /><br />
            </div>
            <div id="theAddedInsideSelectAfter">
                <br />
            </div>

            <button type="button" class="btn btn-info" style="margin-left: 910px" onclick="submitInsideSelect()">
                提交
            </button>
        </form>
    </div>

    <div>
        <div class="jumbotron">
            <h3>如果存在外部事件，需要设置外部事件概率，点击设置</h3>
            <br />
            <button type="button" class="btn btn-outline-danger"
                    onclick="showExternal()" style="margin-left: 1010px">
                显示外部事件
            </button>
        </div>

    <div id="inner3" style="display: none">
        <div class="jumbotron">
            <h2>外部事件</h2>
            <br />
            <form action="/post/queryexternal">
                <button  class="btn btn-border">查询</button>
            </form>
            <div th:if="${interactions!=null}">

                <table  class="table table-striped table-primary">
                    <thead>
                    <tr>
                        <th scope="col">外部事件Id</th>
                        <th scope="col">外部事件名称</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="interaction:${interactions}">
                        <td  th:text="${interaction.interactionId}" ></td>
                        <td th:text="${interaction.interactionName}" ></td>
                        <td th:text="${interaction.interactionName}" ></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="jumbotron">
            <h2>设置外部事件的概率</h2><br />
            <button type="button" class="btn btn-dark" id="addExternal"
                    style="right: 20px;text-align: center;margin-left: 1010px">
                再设置一个
            </button>

            <form id="externalForm" >
                <br>
                <div style="border: black;border-style: dotted;border-width: 2px;">
                    <br />
                    <h4>
                        <div class="insideSelect">&nbsp;&nbsp;&nbsp;&nbsp;第1个</div>
                    </h4>
                    <br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;外部事件对应的任务Id</span><input type="text" name="externalId">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;外部事件概率:</span><input type="text" name="probable"><span>分之一</span>
                </div>
                <div id="theAddedExternalAfter">
                    <br />
                </div>

                <button type="button" class="btn btn-info" style="margin-left: 910px" onclick="submitExternal()">
                    提交
                </button>
            </form>
        </div>
    </div>
</div>
</div>

    <script src="../js/plugins/jquery.js"></script>
    <script src="../js/plugins/bootstrap.min.js"></script>
    <script src="../js/plugins/slick.min.js"></script>
    <script src="../js/plugins/jquery.form.js"></script>
    <script src="../js/plugins/jquery.validate.min.js"></script>
    <script language="JavaScript">
    function showExternal(){
        var innerElement = document.getElementById("inner3");
        innerElement.setAttribute("style","");
    }

    function chaInsideSelect() {
        var json = [];
        $.ajax({
            type : 'POST',
            url :'/post/queryInsideSelect',
            data : JSON.stringify(json),
            contentType : 'application/json;charset=utf-8',
            dataType : 'json',
            success : function(data) {
                if (data.stateCode === 200) {
                    console.log("查询成功");
                    //暂时的解决掉数据的参数传递问题
                    json = JSON.stringify(data.data)
                    // $("#orderTable").html("");
                    $("#insideSelectTable").siblings(
                        'tr'
                    ).remove()
                    for (var i= 0;i<data.data.length; i++) {
                        var tr;
                        tr = '<td>' + data.data[i].id + '</td>' +  '<td>'
                            + data.data[i].bran1Info + '</td>'+'<td>'
                            + data.data[i].bran2Info + '</td>'
                            + '<td>' + data.data[i].iscomplete +   '</td>';
                        $("#insideSelectTable").append('<tr>' + tr + '</tr>');
                    }
                } else
                // 查询失败,错误信息在data.msg里面（未填写个人信息，请完善个人信息）
                    alert("错误信息：" + data.msg)

            }
        })
    }
    //变量
    var countOfExtrtnal =2;
    var addExternal = document.getElementById("addExternal");
    addExternal.onclick = function() {
        var html=" <div style=\"border: black;border-style: dotted;border-width: 2px;\">\n" +
            "                    <br />\n" +
            "                    <h4>\n" +
            "                        <div class=\"insideSelect\">&nbsp;&nbsp;&nbsp;&nbsp;第"+countOfExtrtnal+"个</div>\n" +
            "                    </h4>\n" +
            "                    <br />\n" +
            "                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;外部事件对应的任务Id</span><input type=\"text\" name=\"externalId\">\n" +
            "                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;外部事件概率:</span><input type=\"text\" name=\"probable\"><span>分之一</span>\n" +
            "                </div>";
        var theAddedExternalAfter = document.getElementById("theAddedExternalAfter");
        theAddedExternalAfter.insertAdjacentHTML("beforebegin",html);
        countOfExtrtnal++;
    }
    //变量
    var countOfInsideSelect =2;
    var addInsideSelcet = document.getElementById("addInsideSelcet");
    addInsideSelcet.onclick = function() {
        var html="<div style=\"border: black;border-style: dotted;border-width: 2px;\">\n" +
            "            <br />\n" +
            "            <h4>\n" +
            "                <div class=\"insideSelect\">&nbsp;&nbsp;&nbsp;&nbsp;第"+countOfInsideSelect+"个</div>\n" +
            "            </h4>\n" +
            "            <br />\n" +
            "            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;选择指令Id:</span><input type=\"text\" name=\"selectId\">\n" +
            "            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分支1Id:</span><input type=\"text\" name=\"branch1Id\"><span>&nbsp;&nbsp;</span>\n" +
            "            &nbsp;&nbsp;&nbsp;&nbsp;<span>                   分支2Id:</span><input type=\"text\" name=\"branch2Id\"><span>&nbsp;&nbsp;&nbsp;</span>\n" +
            "            <br /><br />\n" +
            "        </div>";
        var theAddedInsideSelectAfter = document.getElementById("theAddedInsideSelectAfter");
        theAddedInsideSelectAfter.insertAdjacentHTML("beforebegin",html);
        countOfInsideSelect++;
    }
    function submitExternal() {
        var formId = "#externalForm";
        var variableData = $(formId).serializeArray();
        $.ajax({
            url:"/post/updateExtenalPro",
            type:"post",
            dataType:"text",
            data:variableData,
            success:function(result){
                alert(result);
            }
        });
    }




    function submitInsideSelect() {
        var formId = "#insideSelectForm";
        var variableData = $(formId).serializeArray();
        $.ajax({
            url:"/post/updateSelect",
            type:"post",
            dataType:"text",
            data:variableData,
            success:function(result){
                alert(result);
            }
        });
    }




    </script>
</body>
</html>